* {
  box-sizing: border-box;
}

body { margin: 0 auto;
	background-color: rgb(90, 160, 201);
	 }

.column {
  float: left;
  width: 20.33%;
  padding: 8px;
}

/* Create two equal columns that floats next to each other */
.column1 {
      float: left;
      width: 50%;
      padding: 6px;
      height: 500px; 
}


/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.avatar {
  vertical-align: middle;
  width: 60px;
  height: 50px;
  border-radius: 50%;
}

.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5 {
	display: none
}
img {
	vertical-align: middle;

}

/* Slideshow container */
.slideshow-container {
	max-width: 700px;
	position: relative;
	top: 50%;
	margin:0 auto 25px;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
	background-color: #f1f1f1;
	color: black;
}
/* Fading animation */

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
 @-webkit-keyframes fade {
 from {
opacity: .4
}
to {
	opacity: 1
}
}
 @keyframes fade {
 from {
opacity: .4
}
to {
	opacity: 1
}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next, .text {
	font-size: 11px
}
}
.image {
	height:100px;
}
.img1 {
	background:none
}
.img2 {
	background:none
}
.img3 {
	background:none
}


/* header */
header {
	height: 70px;
	background-color: #060c11;
	border-bottom: 1px solid #494949;
	display: flex;
	align-items: center;
	justify-content: center;
}
header > h1 {
	width: calc(100% - 160px);
	text-align: center;
	font-size: 20px;
	color: white;
}

/* user dropdown menu */
header > .dropbtn {
	background-color: #3498DB;
	color: white;
	padding: 20px;
	font-size: 20px;
	border: none;
	cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #2980B9;
  }
.dropdown {
	position: relative;
	display: inline-block;
  }
  
 .dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	right: 60px;
  }
  
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
header > .dropdown a:hover {background-color: white;}

.show {display: block;}




@media screen and (max-width: 425px) {
	header h1 {
		font-size: 16px;
	}
}

/*menu bar */
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidebar a:hover {
	color: #f1f1f1;
  }
  
  .sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  .openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
  }
  
  .openbtn:hover {
	background-color: #444;
  }
  
  header > .top {
	  position: absolute;
	  left: 20px;
	  top: 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
  }








